$typeface-sans: 'Roboto', 'Ubuntu', system-ui, sans-serif;
$typeface-mono: 'SF Mono', 'Roboto Mono', 'Ubuntu Mono', monospace;

$typeface-text: 'SF Pro Text', $typeface-sans;
$typeface-display: 'SF Pro Display', $typeface-text;